[Unit]
Description=Kubernetes Kubelet
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/kubelet   --config=/etc/kubernetes/kubelet-config.yaml   --pod-cidr="10.244.0.0/16"   --cni-bin-dir=/opt/cni/bin   --cni-conf-dir=/etc/cni/net.d   --image-pull-progress-deadline=2m   --kubeconfig=/etc/kubernetes/admin.kubeconfig   --network-plugin=cni   --register-node=true   --cgroup-driver=cgroupfs   --v=2   --node-labels=NODE_LABELS --register-with-taints=REGISTER_WITH_TAINTS
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

